n8n_workflows/2_reply_tracker.json
{
  "name": "2. Yello.ae Reply Tracker",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": true,
        "filters": {
          "q": "subject:\"hi from anubhav\""
        }
      },
      "id": "e5c7aab1-df4c-42b7-84bc-24c89abcccc1",
      "name": "Gmail Trigger (Replies)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_auth",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fromHeader = $json.from || '';\nlet email = '';\nlet name = '';\n\n// Match email address inside angle brackets\nconst emailMatch = fromHeader.match(/<([^>]+)>/);\nif (emailMatch) {\n  email = emailMatch[1].trim();\n  name = fromHeader.replace(emailMatch[0], '').replace(/\"/g, '').trim();\n} else {\n  email = fromHeader.trim();\n  name = fromHeader.trim();\n}\n\nreturn {\n  name: name || email,\n  email: email,\n  subject: $json.subject || '',\n  date: $json.date || new Date().toISOString(),\n  snippet: $json.snippet || ''\n};"
      },
      "id": "c4d72bc1-12f5-4e7a-a1fb-bc82a17daaaa",
      "name": "Parse Reply Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Interested Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Subject": "={{ $json.subject }}",
            "Date": "={{ $json.date }}",
            "Message Snippet": "={{ $json.snippet }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "8bf12cc1-df7a-42aa-b9ab-5c82a19bbbbb",
      "name": "Append to Interested Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        820,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_auth",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger (Replies)": {
      "main": [
        [
          {
            "node": "Parse Reply Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reply Details": {
      "main": [
        [
          {
            "node": "Append to Interested Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 3600
  },
  "versionId": "df571da3-bdf5-48b2-a9b1-ec567f8cdd00"
}
